.main {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;

  
  &__header {
    background-color: #ffffff;
    height: 100px;
    width: calc(100vw - 300px);
    padding: 0px 40px;
    position: fixed;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
  
    &__left-box {
      height: 91px;
      width: 85px;
      
      &__current-group {
        margin-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      &__member-list {
        width: 300px;
        font-size: 12px;
        color: #999999;
        margin-top: 10px;
      }
    }
    &__right-box {
      color: #38AEF0;
      border: 1px solid #38AEF0;
      height: 40px;
      width: 60px;
      line-height: 40px;
      margin-top: 28px;
      position: relative;
        &__edit-btn{
          color: #38AEF0;
          text-decoration: none;
          position: absolute;
          padding: 0px 16px;
        }
    }
  }

  &__messages {
    background-color: #fafafa;
    box-sizing: border-box;
    height: calc(100vh - 100px - 90px);
    width: calc(100vw - 300px);
    margin: 100px 0px 0px;
    overflow: scroll;

    &__message {
      padding: 0px 40px;

      &__upper {
        margin-top: 35px;
        display: flex;
        
        &__name {
          font-size: 16px;
          color: #333333;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin: 3px 10px;
        }
      }
    
      &__lower {
        font-size: 16px;
          color: #333333;
        &__content {
          margin-top: 10px;
        }
      }
    }
  }
  .lower-message__image {
    height: 300px;
    width: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__form {
    
    .new_message {
      background-color: #d2d2d2;
      color: black;
      height: 90px;
      width: calc(100vw - 300px);
      padding: 20px 40px 20px 40px;
      bottom: 0;
      display: flex;
    
      &__input {
        height: 100%;
        width: 100%;
        background-color: white;
        border: none;
        // padding: 13px 10px;
        color: #434A54;
        font-size: 23px;
        position: relative;
        &__image{
          position: absolute;
          top: 13px;
          right: 10px;
        }
        &__text{
          height: 100%;
          width: 100%;
          border-style: none;
          padding-left: 10px;
          font-size: 15px;
        }
      }

      &__send-btn {
        background-color: #38AEF0;
        height: 50px;
        width: 90px;
        color: #fff;
        font-size: 16px;
        border: none;
        margin-left: 30px;
        padding: 15px 30px;
        text-decoration: none;
        
      }
    }
  }
}
.input-box__image {
  background-color: white;
  padding: 15px 10px 0px 0px;
  font-size: 23px;
}
.sample {
  display: none;
}
.hidden{
  display: none;
}
